body {
    background-color: darkgray;
}

p {
    /* borda superior */
    border-top-color: yellow;
    border-top-width: 2px;
    border-top-style: dotted;

    /* borda lateral direita */
    border-right-width: 1px;
    border-right-color: purple;
    border-right-style: solid;

    /* borda inferior */
    border-bottom-color: blue;
    border-bottom-width: 1px;
    border-bottom-style: dashed;

    /* borda lateral esquerda */
    border-left-color: red;
    border-left-width: 2px;
    border-left-style: double;
}

img {
    width: 200px;
    /* border-top: width style color */
    /*
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    */
    border-radius: 10px;
    border: 3px solid black;
}