.line-height-normal {
    line-height: normal;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 10px;
}

.line-height-1 {
    line-height: 1;
    background-color: #e0f7fa;
    margin-bottom: 20px;
    padding: 10px;
}

.line-height-1-5 {
    line-height: 1.5;
    background-color: #e0f7fa;
    margin-bottom: 20px;
    padding: 10px;
}

.line-height-2-0 {
    line-height: 2.0;
    background-color: #ffe0b2;
    margin-bottom: 20px;
    padding: 10px;
}

.line-height-2-5 {
    line-height: 2.5;
    background-color: #d1c4e9;
    margin-bottom: 20px;
    padding: 10px;
}