div{
    padding: 10px;
    margin-bottom: 20px;
}

.align-left{
    text-align: left;
    background-color: #e0f7fa;
}

.align-right{
    text-align: right;
    background-color: #ffccbc;
}

.align-center{
    text-align: center;
    background-color: #c8e6c9;
}

.align-justify{
    text-align: justify;
    background-color: #fff9c4;
}