div {
    padding: 10px;
    margin-bottom: 20px;
}

.uppercase {
    text-transform: uppercase;
    background-color: #e0f7fa;
}

.lowercase {
    text-transform: lowercase;
    background-color: #ffccbc;
}

.capitalize {
    text-transform: capitalize;
    background-color: #c8e6c9;
}

.none {
    text-transform: none;
    background-color: #fff9c4;
}